{% extends "views/_base/base.html" %}

{% block navigation %}
<nav class="cc-navigation">
	<a href="/exercise-1/" class="cc-back-link">&#8592; back to exercise</a>
</nav>
{% endblock %}

{% block introduction %}
<h1>Exercise - 1 - Answer</h1>
<p>In the Web NFC api you can scan tags that are supported in an NDEF format. Make sure these tags are scannable and
	supported.</p>
{% endblock %}

{% block html %}
<section class="cc-html-playground">
	<button id="scan-button" type="button" class="button">Start scanning</button>
	<p id="error" class="error"></p>
	<p id="message"></p>
</section>
{% endblock %}

{% block styles %}
<style type="text/css">
	.button {
		background-color: blue;
		color: white;
		padding: 1rem 2rem;
		border-radius: .5rem;
		border: none;
		margin-bottom: 2rem;
	}

	.error {
		color: red;
	}
</style>
{% endblock %}

{% block scripts %}
<script type="module">
	import {scanButton, error, message} from '/assets/js/elements.js';

	const supportNFC = 'NDEFReader' in window;

	scanButton.addEventListener('click', readTag)

	async function readTag() {
		if (supportNFC) {
			const reader = new NDEFReader();
			message.innerText = 'Hold your phone near the scannable item'

			try {
				await reader.scan();

				reader.onreading = event => {
					message.innerText = event && '✅ This tag is supported.';
				}

				reader.onreadingerror = event => {
					message.innerText = event && '❌ This tag is not supported';
				}
			} catch (err) {
				error.innerText = err;
			}
		} else {
			error.innerText = 'Web NFC is not supported in your current browser'
		}
	}
</script>
{% endblock %}
